@font-face {
   font-family: "MuseoSans";
   src: url("fonts/MuseoSans-100.otf") format("opentype");
   font-weight: lighter;
}

@font-face {
   font-family: "MuseoSans";
   src: url("fonts/MuseoSans-300.otf") format("opentype");
   font-weight: normal;
}

@font-face {
   font-family: "MuseoSans";
   src: url("fonts/MuseoSans-500.otf") format("opentype");
   font-weight: bold;
}
