.hot-topic-wrapper {
	min-height: 175px;
	position: relative;

	.open {
		font-size: 30px;
		border: 5px solid $mif-additional-red;
		border-radius: 50px;
		height: 50px;
		width: 50px;
		text-align: center;
		display: inline-block;
		line-height: 40px;
		background: $mif-blue;
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
}
.hot-topic {
	position: relative;

	img {
		border: 5px solid $mif-additional-red;
		border-radius: 14px;
	}
	.close {
		font-size: 30px;
		color: $white;
		position: absolute;
		bottom: 100%;
		left: 100%;
	}
}